@font-face {
  font-family: "Frutiger CE";
  src: url("assets/fonts/FrutigerCE-Regular.woff2") format("woff2"), url("assets/fonts/FrutigerCE-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Frutiger CE";
  src: url("assets/fonts/FrutigerCE-Black.woff2") format("woff2"), url("assets/fonts/FrutigerCE-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Frutiger CE";
  src: url("assets/fonts/FrutigerCE-Bold.woff2") format("woff2"), url("assets/fonts/FrutigerCE-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Frutiger CE Ultra";
  src: url("assets/fonts/FrutigerCE-UltraBlack.woff2") format("woff2"), url("assets/fonts/FrutigerCE-UltraBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@keyframes moveClip {
  0% {
    clip-path: polygon(0% -100%, 100% -100%, 100% 0%, 0% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@keyframes pulse {
  0% {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  10% {
    opacity: 0.5;
  }
  80% {
    top: clamp(-35px, 5vw, -75px);
    right: clamp(-35px, 5vw, -75px);
    bottom: clamp(-35px, 5vw, -75px);
    left: clamp(-35px, 5vw, -75px);
    opacity: 0;
  }
}
* {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overscroll-behavior-y: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
*::-webkit-scrollbar {
  display: none;
}
::-moz-selection {
  background: #d8deff;
}
::selection {
  background: #d8deff;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  outline: 0;
  vertical-align: bottom;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
address {
  font-style: normal;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #ffffff;
  color: #0019a5;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  pointer-events: none;
  user-select: none;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input:required,
input:invalid {
  box-shadow: none;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="text"],
input[type="email"],
input[type="search"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #0019a5;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
a * {
  pointer-events: none;
}
optgroup {
  font-weight: 500;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  background: #0019a5;
  margin: 0;
  font-size: clamp(20px, 2.6vw, 40px);
  line-height: 1.3;
  font-family: "Frutiger CE";
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  position: relative;
}
.slide-1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #ffffff;
  z-index: 1;
}
body:not(.active-slide-1) .slide-1 {
  cursor: pointer;
}
body:not(.active-slide-1) .slide-1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='192' height='192' viewBox='0 0 192 192' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_1_13)'%3E%3Ccircle cx='96' cy='88' r='52' fill='white'/%3E%3C/g%3E%3Cpath d='M84.8777 111C83.9835 111 83.0892 110.753 82.2763 110.26C80.813 109.439 80 107.959 80 106.316V69.7471C80 68.1036 80.8942 66.5422 82.4388 65.7204C84.0647 64.8165 85.9345 64.7343 87.4791 65.6383L118.615 83.8816C119.916 84.6212 120.81 85.936 120.973 87.4974C121.135 88.9766 120.566 90.5379 119.428 91.524C119.347 91.6062 119.265 91.6884 119.184 91.6884L87.3978 110.343C86.6662 110.753 85.7719 111 84.8777 111Z' fill='%23001996'/%3E%3Cdefs%3E%3Cfilter id='filter0_d_1_13' x='0' y='0' width='192' height='192' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='8'/%3E%3CfeGaussianBlur stdDeviation='22'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0.0480468 0 0 0 0 0.288281 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1_13'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1_13' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}
.slide-2 {
  position: relative;
  min-height: 100vh;
  color: #0019a5;
  background-color: #ffffff;
  z-index: 2;
  clip-path: polygon(0% -100%, 100% -100%, 100% 0%, 0% 0%);
}
.active-slide-2 .slide-2 {
  animation: moveClip 1s cubic-bezier(0.85, 0, 0.15, 1) forwards;
}
[class^="slide-"] {
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(0, 1fr) min-content minmax(0, 1fr);
  gap: 0px 0px;
  grid-template-areas: "top" "button" "bottom";
}
.top-area {
  grid-area: top;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-align: center;
  align-items: center;
  padding-top: clamp(50px, 6.6vw, 100px);
}
.button-area {
  grid-area: button;
  padding: 20px 0;
}
.bottom-area {
  grid-area: bottom;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-align: center;
  align-items: center;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: clamp(85px, 11.3vw, 170px);
}
.heading {
  padding: 10px 0;
  font-weight: 900;
  font-size: clamp(50px, 6.6vw, 100px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  transition-delay: 16.5s;
}
body.active-slide-2 .heading {
  opacity: 1;
  pointer-events: auto;
}
a.button {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: clamp(48px, 6.4vw, 96px);
  border-radius: 48px;
  padding: clamp(0px, 0.3vw, 5px) clamp(25px, 3.3vw, 50px) 0;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  pointer-events: none;
}
a.button::before,
a.button::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  border: 3px solid #ffffff;
  border-radius: 198px;
  opacity: 0;
  pointer-events: none;
}
.slide-1 a.button {
  color: #0019a5;
  background: #ffffff;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  transition-delay: 12.5s;
  opacity: 0;
}
.slide-1 a.button::before,
.slide-1 a.button::after {
  animation: pulse 3s linear infinite;
}
.slide-1 a.button::after {
  animation-delay: 1.5s;
}
.slide-2 a.button {
  color: #ffffff;
  background: #0019a5;
  cursor: default;
}
body.active-slide-1 .slide-1 a.button {
  opacity: 1;
  pointer-events: auto;
}
strong {
  padding: 10px 0;
  text-transform: uppercase;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.slide-1 strong {
  transition-delay: 11s;
}
.slide-2 strong {
  transition-delay: 1.5s;
}
body.active-slide-1 .slide-1 strong,
body.active-slide-2 .slide-2 strong {
  opacity: 1;
  pointer-events: auto;
}
p {
  padding: 10px 0;
  opacity: 0;
  pointer-events: none;
}
.slide-2 p {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  transition-delay: 15s;
}
body.active-slide-2 .slide-2 p {
  opacity: 1;
  pointer-events: auto;
}
ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 10px 0;
}
ul li {
  position: relative;
  opacity: 0;
  pointer-events: none;
  padding: 0 0 0 15px;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.slide-1 ul li:nth-child(1) {
  transition-delay: 0.5s;
}
.slide-1 ul li:nth-child(2) {
  transition-delay: 2s;
}
.slide-1 ul li:nth-child(3) {
  transition-delay: 3.5s;
}
.slide-1 ul li:nth-child(4) {
  transition-delay: 5s;
}
.slide-1 ul li:nth-child(5) {
  transition-delay: 6.5s;
}
.slide-1 ul li:nth-child(6) {
  transition-delay: 8s;
}
.slide-1 ul li:nth-child(7) {
  transition-delay: 9.5s;
}
.slide-1 ul li:nth-child(8) {
  transition-delay: 11s;
}
.slide-1 ul li:nth-child(9) {
  transition-delay: 12.5s;
}
.slide-1 ul li:nth-child(10) {
  transition-delay: 14s;
}
.slide-2 ul li:nth-child(1) {
  transition-delay: 3s;
}
.slide-2 ul li:nth-child(2) {
  transition-delay: 4.5s;
}
.slide-2 ul li:nth-child(3) {
  transition-delay: 6s;
}
.slide-2 ul li:nth-child(4) {
  transition-delay: 7.5s;
}
.slide-2 ul li:nth-child(5) {
  transition-delay: 9s;
}
.slide-2 ul li:nth-child(6) {
  transition-delay: 10.5s;
}
.slide-2 ul li:nth-child(7) {
  transition-delay: 12s;
}
.slide-2 ul li:nth-child(8) {
  transition-delay: 13.5s;
}
.slide-2 ul li:nth-child(9) {
  transition-delay: 15s;
}
.slide-2 ul li:nth-child(10) {
  transition-delay: 16.5s;
}
body.active-slide-1 .slide-1 ul li,
body.active-slide-2 .slide-2 ul li {
  opacity: 1;
  pointer-events: auto;
}
ul li:last-child {
  padding-right: 15px;
}
ul li:not(:last-child)::after {
  content: "|";
  padding-left: 15px;
}
@media screen and (min-height: 1024px) {
  .bottom-area {
    padding: clamp(25px, 3.3vw, 50px) 0 clamp(50px, 6.6vw, 100px);
  }
}
@media print {
  body {
    display: none;
  }
}
